/*PC-css*/
/*头部*/
.header {
    height: 60px;
    background-color: #191619;
}
.logo {
    width: 150px;
    height: 60px;
    margin-left: 14px;
}
.logo h1 a {
    display: block;
    width: 150px;
    height: 60px;
    background: url(../images/logo01.png) no-repeat center;
    text-indent: -9999em;
}
.header .header_nav {
    height: 60px;
    line-height: 60px;
    margin-left: 176px;
}
.header_nav ul li {
    float: left;
    width: 104px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    color: #d2b364;
    margin-left: 40px;
}
.header_nav ul li a {
    color: #d2b364;
    display:inline-block;
    text-align:center;
    font: normal 14px Open Sans;
    text-transform: uppercase;
}
.header_nav ul li.current {
    height: 56px;
    border-bottom: 4px solid #d2b364;
}
.header_nav ul li.current a {
    font-weight: 600;
}
.header_nav ul li:hover {
    height: 56px;
    border-bottom: 4px solid #d2b364;
}
.header_nav ul li:hover a {
    font-weight: 600;
}
a::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

/*首页*/
.banner1 {
    width: 100%;
    height: 524px;
    background-color: #f5f8fa;
    overflow: hidden;
}
.banner1 img {
    width: 1600px;
    min-width: 1600px;
    height: 524px;
    display: block;
    position: relative;
    left: 50%;
    margin-left: -800px;
}
.companyProfile {
    width: 100%;
    height: 736px;
    background-color: #f5f8fa;
}
.company_box {
    width: 1100px;
    height: 535px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0 auto;
    background-color: #f5f8fa;
    position: relative;
    top: -35px;
    padding: 34px 20px 20px 38px;
    box-sizing: border-box;
}
.company_box>img {
    width: 378px;
    margin-right: 44px;
}
.company_tit {
    width: 618px;
}
.company_txt {
    width: 618px;
    height: 365px;
    font-size: 14px;
    color: #333;
    line-height: 22px;
    padding-top: 15px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.company_btn {
    width: 80px;
    cursor: pointer;
}
.company_txt p {
    text-indent: 2em;
}
.company_fot {
    display: block;
    margin: 0 auto;
    position: relative;
    top: -35px;
}

.productBrief {
    width: 100%;
    background-color: #edf3f6;
    padding-bottom: 63px;
    text-align: center;
}
.product_con {
    width: 1212px;
    margin: 0 auto;
}
.product_con img {
    margin-right: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

.partner {
    text-align: center;
    padding-bottom: 31px;
    background-color: #fff;
}
.partner_con {
    width: 1200px;
    height: 194px;
    margin: 0 auto;
    padding: 0 45px 0 75px;
    box-sizing: border-box;
}
.prev, .conLogo, .next {
    position: relative;
    min-height: 194px;
    float: left;
}
.conLogo {
    width: 100%;
}
.prev {
    left: -75px;
    margin-left: -100%;
    width: 75px;
    background: url(../images/prev.png) no-repeat center;
    cursor: pointer;
}
.next {
    right: -45px;
    margin-left: -45px;
    width: 45px;
    background: url(../images/next.png) no-repeat center;
    cursor: pointer;
}
.logos {
    width: 184px;
    height: 68px;
    border: 1px solid #d0d0d0;
    float: left;
    margin-right: 30px;
    margin-bottom: 27px;
}
.news {
    width: 100%;
    height: 860px;
    background: url(../images/news.jpg) no-repeat center;
    overflow: hidden;
}
.newsCenter {
    width: 1200px;
    height: 727px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 66.5px;
}
.news_tit {
    width: 100%;
    height: 154px;
    background: url(../images/news_tit.png) no-repeat left;
}
.news_con {
    width: 100%;
    height: 460px;
}
.news_conl {
    width: 582px;
    height: 100%;
    padding-left: 18px;
    box-sizing: border-box;
}
.conl_time {
    width: 100%;
    height: 30px;
}
.conl_timeb {
    width: 72px;
    height: 30px;
    background-color: #d2b364;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    margin-right: 18px;
}
.conl_timet {
    line-height: 30px;
    font-size: 24px;
    color: #333;
}
.conl_tit {
    width: 560px;
    margin-top: 12px;
    line-height: 24px;
    font-size: 14px;
    color: #333;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.conl_con {
    width: 560px;
    margin-top: 8px;
    line-height: 20px;
    font-size: 12px;
    color: #666;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
.conl_img {
    width: 560px;
    height: 285px;
    margin-top: 16px;
}
.news_conr {
    width: 618px;
    height: 100%;
    padding-left: 30px;
    padding-right: 14px;
    box-sizing: border-box;
}
.conr_item {
    width: 100%;
    height: 132px;
}
.conr_tit {
    width: 100%;
    height: 20px;
    margin-top: 8px;
}
.conr_titb {
    width: 54px;
    height: 20px;
    background-color: #d2b364;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
    margin-right: 14px;
}
.conr_titt {
    width: 505px;
    line-height: 20px;
    font-size: 14px;
    color: #333;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}
.conr_con {
    width: 100%;
    height: 65px;
    margin-top: 18px;
    margin-bottom: 21px;
}
.conr_cont {
    width: 54px;
    height: 100%;
    margin-right: 14px;
    text-align: center;
    color: #333;
}
.conr_contm {
    width: 100%;
    font-size: 18px;
    margin-bottom: 6px;
}
.conr_conty {
    width: 100%;
    font-size: 14px;
}
.conr_conc {
    width: 505px;
    font-size: 12px;
    color: #666;
    line-height: 20px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.news_btn {
    width: 100%;
    height: 113px;
    text-align: center;
    padding-top: 40.5px;
}
.news_btn img {
    cursor: pointer;
}

/*产品简介*/
.banner2 {
    width: 100%;
    height: 362px;
    background-color: #f5f8fa;
    overflow: hidden;
}
.banner2 img {
    width: 1600px;
    min-width: 1600px;
    height: 362px;
    display: block;
    position: relative;
    left: 50%;
    margin-left: -800px;
}
.content {
    background-color: #f5f8fa;
    overflow: hidden;
}
.content_tit {
    width: 1212px;
    min-width: 1212px;
    height: 166px;
    display: block;
    position: relative;
    left: 50%;
    margin-left: -606px;
}
.content_con {
    width: 1212px;
    min-width: 1212px;
    display: block;
    position: relative;
    left: 50%;
    margin-left: -606px;
    margin-bottom: 74px;
}
.content_con .conitem {
    width: 1212px;
    height: 427px;
}
.conitemOne {
    background: url(../images/con2-con01.png) no-repeat center;
}
.conitemTwo {
    background: url(../images/con2-con02.png) no-repeat center;
}
.conitemOne img {
    float: left;
}
.conitemTwo img {
    float: right;
}
.conitemOne .conitem_con {
    float: right;
    width: 507px;
}
.conitemTwo .conitem_con {
    float: left;
    width: 505px;
}
.con01_txt {
    width: 507px;
    height: 148px;
    margin-top: 160px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
    word-wrap: break-word;
    line-height: 24px;
    overflow: hidden;
}
.conitemOne .con01_txt {
    padding: 25px 64px 0 60px;
}
.conitemTwo .con01_txt {
    padding: 25px 60px 0 68px;
}
.con_btn {
    margin-left: 60px;
    cursor: pointer;
}

/*人才招聘*/
.content3 {
    background-color: #f5f8fa;
}
.con3 {
    width: 1200px;
    margin: 0 auto;
}
.post {
    width: 1200px;
    height: 48px;
    margin: 0 auto;
}
.postli {
    width: 180px;
    height: 48px;
    float: left;
    background: url(../images/postli02.jpg) no-repeat center;
    line-height: 48px;
    font-size: 14px;
    color: #d2b364;
    padding-left: 82px;
    box-sizing: border-box;
    font-weight: 600;
    margin-right: 24px;
    cursor: pointer;
}
.postli:hover {
    background: url(../images/postli01.jpg) no-repeat center;
    color: #fff;
}
.postli.cur {
    background: url(../images/postli01.jpg) no-repeat center;
    color: #fff;
}
.postli:last-child {
    margin-right: 0;
}
.post_con {
    width: 1200px;
    margin: 0 auto;
}
.post_cont {
    font-size: 18px;
    color: #333;
    line-height: 60px;
    margin-top: 19px;
    font-weight: bolder;
}
.post_conc {
    font-size: 14px;
    color: #333;
    line-height: 24px;
}
.post_conf {
    margin-top: 25px;
    margin-bottom: 43px;
    font-size: 12px;
}
.post_conf p {
    line-height: 24px;
}
.post_conf p b {
    color: #d2b364;
}

/*新闻中心*/
.con4 {
    width: 100%;
}
.content4 {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.con4_nav {
    width: 100%;
    height: 59px;
    margin: 0 auto;
}
.con4_navli {
    margin-right: 10px;
    font-size: 14px;
    color: #333;
}
.con4_tab {
    width: 150px;
    height: 360px;
}
.tabli {
    width: 150px;
    height: 64px;
    background: url(../images/con5_tab01.jpg) no-repeat center;
    line-height: 64px;
    font-size: 18px;
    color: #d2b364;
    box-sizing: border-box;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
    padding-left: 52px;
}
.tabli:hover {
    background: url(../images/con5_tab02.jpg) no-repeat center;
    color: #fff;
}
.tabli.cur {
    background: url(../images/con5_tab02.jpg) no-repeat center;
    color: #fff;
}
.con4_con {
    width: 1050px;
}
.con4_newstit {
    padding-left: 42px;
    box-sizing: border-box;
    overflow: hidden;
}
.newstit_img {
    margin-right: 30px;
}
.newstit_con {
    width: 566px;
}
.newstit_contime {
    font-size: 14px;
    color: #d2b364;
}
.newstit_contit {
    margin-top: 15px;
    font-size: 18px;
    color: #101010;
    line-height: 30px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.newstit_contcon {
    margin-top: 16px;
    font-size: 14px;
    color: #999;
    line-height: 30px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
.con4_newsli {
    width: 100%;
    height: 196px;
}
.con4_newslil {
    width: 166px;
    height: 100%;
    padding-left: 82px;
    padding-top: 72px;
    padding-right: 34px;
    box-sizing: border-box;
    text-align: center;
}
.con4_newslily {
    font-size: 18px;
    color: #999;
}
.con4_newslilm {
    font-size: 12px;
    color: #999;
    margin-top: 16px;
}
.con4_newslir {
    width: 884px;
    height: 100%;
}
.con4_newslirt {
    width: 100%;
    height: 72px;
    font-size: 18px;
    color: #101010;
    padding-top: 38px;
    padding-bottom: 16px;
    box-sizing: border-box;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}
.con4_newslirc {
    width: 100%;
    height: 110px;
    line-height: 30px;
    font-size: 14px;
    color: #666;
    padding-bottom: 20px;
    box-sizing: border-box;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
.con4_newsto {
    width: 444px;
    height: 56px;
    background-color: #fff;
    margin-top: 20px;
    margin-left: 210px;
    margin-bottom: 26px;
}

.newsdel {
    padding-left: 42px;
    box-sizing: border-box;
}
.newsdel1 {
    font-size: 18px;
    color: #101010;
    line-height: 22px;
    text-align: center;
}
.newsdel2 {
    font-size: 14px;
    color: #999;
    height: 66px;
    border-bottom: 1px solid #ddd;
    padding-top: 30px;
    box-sizing: border-box;
    margin-bottom: 38px;
}
.newsdel4 {
    margin-top: 22px;
    font-size: 14px;
    color: #101010;
    line-height: 30px;
}
.newsdel4 p {
    text-indent: 2em;
}
.newsdel5 {
    height: 120px;
    font-size: 14px;
    color: #999;
    padding-top: 36px;
    box-sizing: border-box;
}

/*关于我们*/
.con5 {
    width: 100%;
}
.content5 {
    width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}
.con5_tab {
    width: 150px;
    height: 360px;
    margin-top: 70px;
    margin-left: 200px;
}
.tabli {
    width: 150px;
    height: 64px;
    background: url(../images/con5_tab01.jpg) no-repeat center;
    line-height: 64px;
    font-size: 18px;
    color: #d2b364;
    box-sizing: border-box;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
    padding-left: 52px;
}
.tabli:hover {
    background: url(../images/con5_tab02.jpg) no-repeat center;
    color: #fff;
}
.tabli.cur {
    background: url(../images/con5_tab02.jpg) no-repeat center;
    color: #fff;
}
.con5_con {
    width: 1050px;
}

/*会员中心*/
.con6 {
    width: 100%;
    text-align: center;
}

/*底部*/
.footer {
    width: 100%;
    height: 278px;
}
.footer01 {
    width: 100%;
    height: 236px;
    background-color: #201e20;
    text-align: center;
}
.footer01 .links {
    width: 1212px;
    height: 42px;
    padding-top: 16px;
    margin: 0 auto;
}
.footer01 .links img {
    height: 42px;
    float: left;
    margin-left: 15px;
    margin-right: 12px;
}
.footer01 .links>div {
    height: 42px;
    float: left;
    text-align: left;
}
.footer01 .links>div p {
    font-size: 14px;
    color: #f8c301;
    margin-bottom: 14px;
}
.footer01 .links>div .links_txt {
    font-size: 12px;
    color: #999;
    float: left;
    padding-right: 22px;
    cursor: pointer;
}
.footer01 .links>div .links_txt:hover {
    color: #fff;
}
.footer01>img {
    height: 178px;
}
.footer02 {
    width: 100%;
    height: 42px;
    background-color: #0c080c;
    text-align: center;
}
.footer02 img {
    height: 42px;
}

/*Mobile-css*/